$fontMainColor: #42567a;

$bgMainColor: #f4f5f9;

$borderMainColor: #42567a10;
$borderSecondaryColor: #42567a50;
$borderMain: 1px solid $borderMainColor;
$borderSecondary: 1px solid $borderSecondaryColor;

$primary: #3877ee;
$secondary: #ef5da8;
$tertiary: #5d5fef;

$trans: all 0.15s ease-in-out;
$slowTrans: all 0.3s ease-in-out;
